In [5]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (2.7 kB)
Downloading pyodbc-5.3.0-cp39-cp39-macosx_11_0_arm64.whl (71 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pyodbc

In [2]:
import pyodbc
print("pyodbc working:", pyodbc.__version__)

ImportError: dlopen(/Users/fazalshareef/Downloads/python/lib/python3.9/site-packages/pyodbc.cpython-39-darwin.so, 0x0002): Library not loaded: /opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib
  Referenced from: <972B4929-ED5A-3A5E-A250-DE176888FE6B> /Users/fazalshareef/Downloads/python/lib/python3.9/site-packages/pyodbc.cpython-39-darwin.so
  Reason: tried: '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file)

In [3]:
#create a connection string object
connection_string = pyobdc.connect("DRIVER={SQL server};Server=Server_name\\SQLEXPRESS;Database=CustomerDetails1;TrustedConnection=yes")

SyntaxError: invalid syntax (3587004534.py, line 1)

In [ ]:
cursor = conection_string.cursor() # Create a cursor object. The cursor object is used to execute sql queries  and retrive data

In [4]:
#Execute a SQL query
cursor.execute('SELECT * FROM Table_name')

NameError: name 'cursor' is not defined

In [ ]:
#Retrive the data from the database
rows = cursor.fecthall()

In [ ]:
#Display the row in the list
rows

In [ ]:
for row in rows:
    print (row)

In [ ]:
for id,name,address in rows:
    print(name+"@company_email.com")

In [ ]:
for id,name,address in rows:
    if id == 102:
        print(f"Second row only {id}")

In [ ]:
cursor.close()
connection_string.close()