In [7]:
def total_marks(*marks):
    print(sum(marks))

In [2]:
total_marks(39,40,70)

149

In [14]:
def student_details(**data):
    print(data)

In [15]:
student_details(name="John", course = "Python", Age = 30)

{'name': 'John', 'course': 'Python', 'Age': 30}

In [5]:
student_details

In [6]:
student_details()

{}

In [ ]:
1. Find the largest of three numbers

Input: 3 numbers
Output: largest number

In [17]:
def large_number(a,b,c):
    return max(a,b,c)

In [18]:
large_number(12,34,27)

34

In [61]:
# findind only using condition

num = (12, 19, 14)
a, b, c = num
if a >= b and a >= c:
    print(a)
elif b >= a and b >= c:
    print (b)
else:
    print(c)

19

In [49]:
Check if a person is eligible to vote

Condition: Age ≥ 18 → “Eligible”, else “Not Eligible”

SyntaxError: invalid syntax (4099351479.py, line 1)

In [ ]:
age = 18

if age >= 18:
    print ("Eligible")
else:
    print ("Not Eligible")

In [ ]:
Check if a number is positive, negative, or zero

In [31]:
def num_check(num):
    if num == 0:
        print (f"{num} is zero")
    elif num < 0:
        print (f"{num} is negative")
    else:
        print (f"{num} is positive")

In [32]:
num_check(23)

23 is positive

In [33]:
num_check(-12)

-12 is negative

In [34]:
num_check(0)

0 is zero

In [ ]:
Grade system

Marks →
90–100 = A
80–89 = B
70–79 = C
Below 70 = Fail

In [42]:
def marks(x):
   if x in range(90,101):
       print('A')
   elif x in range (80,90):
       print ('B')
   elif x in range (70,80):
       print ('C')    
   else:
        print ("Fail")

In [44]:
marks (84)

B

In [ ]:
5. Check if a number is divisible by 3 and 5

In [76]:
num = range(1, 40)
for i in num:
    if (i % 3 == 0 ) and (i % 5 == 0):
        print (i)

15
30

In [ ]:
5. Check if a number is divisible by 4 and 9

In [77]:
num = range(1,100)
for i in num:
    if (i % 4 == 0) and (i % 9 == 0):
        print (i)

36
72

In [ ]:
6. Print numbers from 1 to 50

In [79]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
7. Print only even numbers from 1 to 100

In [80]:
for i in range(1, 101):
    if i % 2== 0:
        print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
8. Calculate the sum of numbers from 1 to n

In [82]:
n = 10
total = 0
for i in range (1, n+1):
    total += i

In [83]:
print ("Sum = " , total)

Sum =  55

In [ ]:
10. Count how many digits are in a number

In [85]:
number = (12344422)
for i in str(number):
    print (count(i))

NameError: name 'count' is not defined

In [ ]:
12. Write a function that checks if a number is even or odd

In [87]:
def number(num):
    if (num % 2 == 0):
        print (f"even num")
    else:
        print ("odd")

In [89]:
number(1)

odd

In [ ]:
Print all even numbers between 1 and 100, but stop if number reaches 50

In [101]:
number = range(1,101)
for i in number:
    if i % 2 == 0:
        print (i)
        if i == 50:
            break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
Count how many numbers between 1 and 200 are divisible by both 3 and 4

In [106]:
numbers = range(1, 201)
for i in numbers:
    if (i % 3 == 0) and (i % 4 == 0):
        print (i)

12
24
36
48
60
72
84
96
108
120
132
144
156
168
180
192

In [ ]:
Take 10 numbers from the user and count how many are positive

In [113]:
numbers = (23, -123, 134, -134, 2389, -2883, -22, -234, -84, 13)
count = 0
for i in numbers:
    if i < 0:
        count += 1

print (count)

6

In [ ]:
27. Password Strength Checker

Rules:

At least 8 characters

Contains number

Contains uppercase letter

Contains lowercase letter

Return: “Strong” / “Weak”

In [ ]:
def password():
    if password ==

In [ ]:
**3️⃣ Create a class Laptop with attributes brand, ram, price.

Write a method to display all details.**

In [119]:
class Laptop():
    def __init__ (self, brand, ram, price):
        self.brand = brand
        self.ram = ram
        self.price = price

Laptop1 = Laptop("Dell", "6 GB", 30000)
Laptop2 = Laptop("Lenovo", "8 GB", 40000)    


class

In [120]:
Laptop1

In [124]:
print(Laptop2.brand)

Lenovo

In [130]:
class Car():
    def __init__(self):
        pass
    def model (self, name):
        self.name = name

    def engine_type (self, fuel_type, engine_cc, gearing):
        self.fuel_type = fuel_type
        self.engine_cc = engine_cc
        self.gearing = gearing

    def instrument_cluster (self, analogue, digital):
        self.analouge = analouge
        self.digital = digital
    def colours (self, colour):
        self.colour = colour

class Creata(Car):
    def __init__ (self):
        super(). __init__()

    def variant (self, variants):
        self.variants = variants

    def versions (self, versions):
       self.versions = versions

class Venue(Car):
    def __init__ (self):
        super(). __init__()
    def versions (self, versions):
        self.versions = versions